<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

  <div class="container">
    <div>


      <div class="profile-info">
        <i class="profile-image bx bxs-user-circle"></i>
        <div>
          <span class="profile-name">Bruce Banner</span>
          <span class="profile-status">Online</span>
        </div>
      </div>

      <div class="chat" id="chat">
        <div class="container-message received-message">
          <i class="message-profile-image received-profile-image bx bxs-user-circle"></i>
          <div class="message-content">Lorem ipsum is a placeholder text commonly used in the design and typesetting industry. It is used to fill space in a document or webpage until the final content is added.</div>
        </div>
  
        <div class="container-message sended-message">
          <div class="message-content">Lorem ipsum is a placeholder text commonly used in the design and typesetting industry. It is used to fill space in a document or webpage until the final content is added.</div>
          <i class="message-profile-image sended-profile-image bx bxs-user-circle"></i>
        </div>
      </div>

      <form class="chat-form" id="chat-form">
        <div>
            <input class="chat-input" type="text" placeholder="Digite aqui...">
            <!-- <i class="chat-form-icon bx bxs-send"></i> -->
        </div>
      </form>
  


    </div>
  </div>





  <script src="../static/js/home.js"></script>
</body>
</html>